<div class="container">
  <h1>Stupid Coaching</h1>

  <div class="border-start border-5 p-3 mb-4">
    <span class="m-3"><%= @question%></span>
    <p class="m-3"><em>-You</em></p>
  </div>

  <div class="border-start border-5 p-3 mb-4" id="answer-block">
    <strong class="m-3"><%= @answer%></strong>
    <p class="m-3"><em>-Your coach</em></p>
  </div>

  <%= link_to "Ask new question", ask_path, class: "btn btn-success" %>
</div>
